<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>黑白条纹粗线毛衣</string>
		<key>detail</key>
		<string>¥799.00</string>
		<key>background</key>
		<string>http://img10.static.yhbimg.com/goodsimg/2016/11/24/16/01a3100c1a33e40c0e017b4027007354fc.jpg?imageMogr2/thumbnail/280x382/extent/280x382/background/d2hpdGU=/position/center/quality/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>毛领连毛长款面包棉服</string>
		<key>detail</key>
		<string>¥899.00</string>
		<key>background</key>
		<string>http://img11.static.yhbimg.com/goodsimg/2016/12/06/12/01ca12dd1a1e58d739f7de5cd136cb1791.jpg?imageMogr2/thumbnail/280x382/extent/280x382/background/d2hpdGU=/position/center/quality/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>纯色重磅拼接休闲鞋</string>
		<key>detail</key>
		<string>¥299.00</string>
		<key>background</key>
		<string>http://img11.static.yhbimg.com/yhb-img01/2016/12/19/10/01963b2be8e9b924a2505a3119eb135fb9.jpg?imageView2/2/w/222/h/298/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ERUSROF 纯色中邦拼接休闲鞋</string>
		<key>detail</key>
		<string>¥299.00</string>
		<key>background</key>
		<string>http://img10.static.yhbimg.com/yhb-img01/2016/12/19/10/0184288a607beb958ab9bf1aa2e995797f.jpg?imageView2/2/w/222/h/298/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ERUSOF 纯色重磅拼接休闲鞋</string>
		<key>detail</key>
		<string>¥299.00</string>
		<key>background</key>
		<string>http://img11.static.yhbimg.com/yhb-img01/2016/12/19/10/017007533259cd022577db6c9322dc8d19.jpg?imageView2/2/w/222/h/298/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>经典英伦休闲时尚男士手表 BU2302</string>
		<key>detail</key>
		<string> ¥1500.00</string>
		<key>background</key>
		<string>http://img10.static.yhbimg.com/yhb-img01/2016/12/19/10/016dc81f06116f968cafbfd9d4a6892062.jpg?imageView2/2/w/222/h/298/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>keios under the veil 白色LOGO 棒球帽</string>
		<key>detail</key>
		<string>¥198.00</string>
		<key>background</key>
		<string>http://img11.static.yhbimg.com/yhb-img01/2016/12/19/10/01ff543f480479bc311f1d5a12e0011be5.jpg?imageView2/2/w/222/h/298/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>黑白条纹粗线毛衣</string>
		<key>detail</key>
		<string>¥198.00</string>
		<key>background</key>
		<string>http://img10.static.yhbimg.com/yhb-img01/2016/12/19/10/01839a50ee93455033c280c2331c598ac4.jpg?imageView2/2/w/185/h/248/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>经典英伦休闲时尚男士手表 BU2302</string>
		<key>detail</key>
		<string> ¥1500.00</string>
		<key>background</key>
		<string>http://img10.static.yhbimg.com/yhb-img01/2016/12/19/10/019ae321574523e91e943ea55cb30ee1a8.jpg?imageView2/2/w/185/h/248/q/90</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sentinel</string>
		<key>detail</key>
		<string>The slab serif that works</string>
		<key>background</key>
		<string>http://img10.static.yhbimg.com/yhb-img01/2016/12/19/10/017979ff5ab7ea3e9a12c75a2a4d6e147b.jpg?imageView2/2/w/185/h/248/q/90</string>
	</dict>
</array>
</plist>
